.avatar {
    width: 128px;
    border: solid 3px white;
    border-radius: 100%;
}

.report {
    padding: 25px;
    background-color: var(--Desaturated-blue);
}

.report>.bottom {
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card {
    height: min-content;
    display: grid;
    grid-template-rows: min-content min-content;
    border-radius: 25px;
    width: 300px;
    background-color: var(--clr-orange);
    gap: 0px;
    padding: 0;
}

.card>.icon-container {
    display: flex;
    /* background-color: var(--clr-orange); */
    justify-content: end;
    height: min-content;
    margin: 0;
    overflow: hidden;
    align-items: flex-start;
}

.card>.icon-container>.icon {
    height: 65%;
    padding-right: 25px;
    margin: 0;
    margin-top: -15px;
    margin-bottom: -15px;
}

.elips {
    justify-self: end;
}

.card>.top>.head {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.card>.top {
    padding: 25px;
    background-color: var(--dark-blue);
    border-radius: 20px;
}

.elips {
    justify-self: end;
    color: white;
}

.timeframe {
    color: gray;
}

.timeframe:hover {
    color: white;
}