@font-face {
  font-family: Outfit;
  src: url("<https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
}

:root {
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --salte-900: hsl(218, 44%, 22%);

  --radius: 20px;

  font-family: Outfit;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: var(--slate-300) ;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  border: 1px solid red;
}

h1 {
  font-weight: 700;
  color: var(--slate-900);
}

p {
  font-weight: 400;
  color: var(--slate-500);
}

.card {
  width: 420px;
  display: flex;
  background: var(--white);
  border-radius: var(--radius);
  padding: 20px;
  flex-direction: column;
  align-items: center;
  text-wrap: wrap;
  text-align: center;
}

.QR {
  border-radius: var(--radius);
  height: 400px;
}
