@font-face {
  font-family: Inter;
  src: url(../assets/fonts/static/Inter-Regular.ttf);
}

:root {
  font-size: 0.875em;
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);

  /** Font **/
  font-family: Inter;
}

/** Resets */
html,
body {
  display: grid;
  place-items: center;
  background-color: var(--grey-900);
  margin: 0;
  height: 100%;
  color: var(--white);
  text-align: center;
}

.location {
  color: var(--green);
  font-weight: 600;
}

* {
  border: solid 1px red;
}

.card {
  background-color: var(--grey-800);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.test {
  width: 100%;
}

.link {
  text-decoration: none;
  color: var(--white);
  padding: 10px;
  background-color: var(--grey-700);
  border-radius: 5px;
  font-weight: 700;
}

.links {
  display: grid;
  grid-auto-columns: 1fr min-content;
  gap: 20px;
  width: 100%;
}

.avatar {
  border-radius: 100%;
}
