@font-face {
  font-family: "Monsterrat";
  src: url('fonts/Monsterrat-VariableFont_wght.tff'); 
}

@font-face {
  font-family: "Fraunces";
  src: url('fonts/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf ');
}

:root {
  /* Primary */
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  /* Secondary */
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);

  font-size: 0.875rem;
  font-family: "Fraunces";
  font-weight: 500;
}

body,
html {
  margin: 0;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  background-color: var(--Cream);
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

.card {
  display: grid;
  grid-template-areas: "one two";
  background-color: var(--White);
}

.price {
  display: flex;
  align-items: center;
}

.product-add {
  background-color: darkgreen;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.price-reduced {
  color: darkgreen; 
}

.product-image {
  grid-area: "one";
}

.product-text {
  grid-area: "two";
}

@media screen and (max-width: 400px) {
  .card {
    /* Make verticle on small screens  */
    grid-template-areas: "one" "two";
  }
}
